

.App {
    overflow: hidden;
    background-color: var(--color-primary);
        }
        .img-love {
            // background-image: url(../image/Screenshot_1.png);   
            
    }
@media (max-width: 1023px) {
    .App {
        height: 140px;
        .App-header {
            padding-top: 0;
            p {
                font-size: 100px;
                font-weight: 400;
                line-height: 140px;
            }
        }
        
    }
}
